{% extends "pages/base.html" %}

{% block title%}Home{% endblock %}



{% block content %}
<div class="container-fluid">
        <div class="row">
            <div class="controls">
                <div style="text-align: center;"><button onclick="toggleShape()">Chuyển hiệu ứng</button></div>
            </div>
            <div id="container">
                <div id="stage">
                    <div id="shape" class="cube backfaces">
                        <div class="plane one"></div>
                        <div class="plane two"></div>
                        <div class="plane three"></div>
                        <div class="plane four"></div>
                        <div class="plane five"></div>
                        <div class="plane six"></div>
                        <div class="plane seven"></div>
                        <div class="plane eight"></div>
                        <div class="plane nine"></div>
                        <div class="plane ten"></div>
                        <div class="plane eleven"></div>
                        <div class="plane twelve"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
